<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://sgwood.cn:3306/ruoyi-vue-pro?useSSL=false&amp;serverTimezone=Asia/Shanghai&amp;allowPublicKeyRetrieval=true&amp;nullCatalogMeansCurrent=true&amp;rewriteBatchedStatements=true</property>
        <property name="hibernate.connection.username">sgwood</property>
        <property name="hibernate.connection.password">stargold</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="hibernate.show_sql">true</property>
        <!----><property name="hibernate.hbm2ddl.auto">validate</property>
        <property name="javax.persistence.schema-generation.database.action">none</property>
        <!--<mapping class="cn.iocoder.yudao.module.star.dal.mysql.intl.SchoolIntlEntity"/>
        <mapping class="cn.iocoder.yudao.module.star.dal.mysql.intl.SchoolInstEntity"/>
        <mapping class="cn.iocoder.yudao.module.star.entity.SchoolUniComment"/>
        <mapping class="cn.iocoder.yudao.module.star.dal.mysql.edu.SchoolUniEntity"/>
        <mapping class="cn.iocoder.yudao.module.star.dal.mysql.edu.SchoolUniMajor"/>
        <mapping class="cn.iocoder.yudao.module.star.dal.mysql.edu.SchoolCollegeEntity"/>
        <mapping class="cn.iocoder.yudao.module.star.dal.mysql.InvestmentParkEntity"/>-->
    </session-factory>
</hibernate-configuration>
